In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
file_url = r'https://raw.githubusercontent.com/sedeba19/Chapter-7/main/data/Dataset_car.data.txt'

In [3]:
# col_names
col_names = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'car_class']
# Load the dataset
df = pd.read_csv(file_url,
                 names = col_names, 
                 header=None)
df.head()

  buying  maint doors persons lug_boot safety car_class
0  vhigh  vhigh     2       2    small    low     unacc
1  vhigh  vhigh     2       2    small    med     unacc
2  vhigh  vhigh     2       2    small   high     unacc
3  vhigh  vhigh     2       2      med    low     unacc
4  vhigh  vhigh     2       2      med    med     unacc

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   buying     1728 non-null   object
 1   maint      1728 non-null   object
 2   doors      1728 non-null   object
 3   persons    1728 non-null   object
 4   lug_boot   1728 non-null   object
 5   safety     1728 non-null   object
 6   car_class  1728 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [8]:
# Split the data ito 80% training and 20% testing set
training_df, eval_df = train_test_split(df, 
                                        test_size=0.8, 
                                        random_state=123)

In [6]:
training_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 345 entries, 1037 to 684
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   buying     345 non-null    object
 1   maint      345 non-null    object
 2   doors      345 non-null    object
 3   persons    345 non-null    object
 4   lug_boot   345 non-null    object
 5   safety     345 non-null    object
 6   car_class  345 non-null    object
dtypes: object(7)
memory usage: 21.6+ KB

In [7]:
eval_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1383 entries, 1318 to 1338
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   buying     1383 non-null   object
 1   maint      1383 non-null   object
 2   doors      1383 non-null   object
 3   persons    1383 non-null   object
 4   lug_boot   1383 non-null   object
 5   safety     1383 non-null   object
 6   car_class  1383 non-null   object
dtypes: object(7)
memory usage: 86.4+ KB