In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
file_url = r'https://raw.githubusercontent.com/sedeba19/Chapter-7/main/data/Dataset_car.data.txt'

In [3]:
# col_names
col_names = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'car_class']
# Load the dataset
df = pd.read_csv(file_url,
                 names = col_names, 
                 header=None)
df.head()

  buying  maint doors persons lug_boot safety car_class
0  vhigh  vhigh     2       2    small    low     unacc
1  vhigh  vhigh     2       2    small    med     unacc
2  vhigh  vhigh     2       2    small   high     unacc
3  vhigh  vhigh     2       2      med    low     unacc
4  vhigh  vhigh     2       2      med    med     unacc

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   buying     1728 non-null   object
 1   maint      1728 non-null   object
 2   doors      1728 non-null   object
 3   persons    1728 non-null   object
 4   lug_boot   1728 non-null   object
 5   safety     1728 non-null   object
 6   car_class  1728 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [5]:
# Split the data ito 80% training and 20% testing set
training_df, eval_df = train_test_split(df, test_size=0.8, random_state=0)

In [6]:
training_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 345 entries, 1037 to 684
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   buying     345 non-null    object
 1   maint      345 non-null    object
 2   doors      345 non-null    object
 3   persons    345 non-null    object
 4   lug_boot   345 non-null    object
 5   safety     345 non-null    object
 6   car_class  345 non-null    object
dtypes: object(7)
memory usage: 21.6+ KB

In [7]:
eval_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1383 entries, 1318 to 1338
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   buying     1383 non-null   object
 1   maint      1383 non-null   object
 2   doors      1383 non-null   object
 3   persons    1383 non-null   object
 4   lug_boot   1383 non-null   object
 5   safety     1383 non-null   object
 6   car_class  1383 non-null   object
dtypes: object(7)
memory usage: 86.4+ KB

In [8]:
# Encode categorical variables
df_dumm = pd.get_dummies(df, 
                         columns=['buying', 
                                  'maint', 
                                  'doors', 
                                  'persons', 
                                  'lug_boot', 
                                  'safety'])
df_dumm

,car_class,buying_high,buying_low,buying_med,buying_vhigh,maint_high,maint_low,maint_med,maint_vhigh,doors_2,...,doors_5more,persons_2,persons_4,persons_more,lug_boot_big,lug_boot_med,lug_boot_small,safety_high,safety_low,safety_med
0,unacc,0,0,0,1,0,0,0,1,1,...,0,1,0,0,0,0,1,0,1,0
1,unacc,0,0,0,1,0,0,0,1,1,...,0,1,0,0,0,0,1,0,0,1
2,unacc,0,0,0,1,0,0,0,1,1,...,0,1,0,0,0,0,1,1,0,0
3,unacc,0,0,0,1,0,0,0,1,1,...,0,1,0,0,0,1,0,0,1,0
4,unacc,0,0,0,1,0,0,0,1,1,...,0,1,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1723,good,0,1,0,0,0,1,0,0,0,...,1,0,0,1,0,1,0,0,0,1
1724,vgood,0,1,0,0,0,1,0,0,0,...,1,0,0,1,0,1,0,1,0,0
1725,unacc,0,1,0,0,0,1,0,0,0,...,1,0,0,1,1,0,0,0,1,0
1726,good,0,1,0,0,0,1,0,0,0,...,1,0,0,1,1,0,0,0,0,1
1727,vgood,0,1,0,0,0,1,0,0,0,...,1,0,0,1,1,0,0,1,0,0

In [11]:
# Separate features and labels DataFrames
features = df_dumm.drop(['car_class'], axis=1).values
labels = df_dumm[['car_class']].values

In [15]:
from sklearn.linear_model import LogisticRegression
# Create an instance of LogisticRegression
lr_model = LogisticRegression()

from sklearn.model_selection import cross_val_score
scores = cross_val_score(lr_model, 
                         features, 
                         labels, 
                         cv=5)
print(scores)

[0.70231214 0.84971098 0.74566474 0.75652174 0.76231884]

f:\USDSI Python Code\The-Data-Science-Workshop-master\env\lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
f:\USDSI Python Code\The-Data-Science-Workshop-master\env\lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
f:\USDSI Python Code\The-Data-Science-Workshop-master\env\lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
f:\USDSI Python Code\The-Data-Science-Workshop-master\env\lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
f:\USDSI Python Code\The-Data-Science-Workshop-master\env\lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)